@page
@model FengShuiKoi.WepApp_.Pages.Product.Ho_caProduct.DetailsModel

<div>
    <h4>HoCa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoCa.HinhDang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoCa.HinhDang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoCa.KichThuoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoCa.KichThuoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoCa.ViTri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoCa.ViTri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoCa.PhuongHuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoCa.PhuongHuong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoCa.ThichHop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoCa.ThichHop)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HoCa.MaHoCa">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
