@page
@model FSK.WebApp.Pages.Product.HoCaProduct.IndexModel

<p>
    <a type="button" class="btn btn-secondary" class="btn btn-xl btn-primary" asp-page="Create">Create New</a>
</p>
<div class="card" style="box-shadow: 0 .1875rem .5rem 0 rgba(34, 48, 62, .1); box-sizing: border-box;">
    <h5 class="card-header">Table Hồ Cá</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HoCa[0].HinhDang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoCa[0].KichThuoc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoCa[0].ViTri)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoCa[0].PhuongHuong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoCa[0].ThichHop)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.HoCa) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HinhDang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KichThuoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ViTri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhuongHuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThichHop)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.MaHoCa">Edit</a> |
                        <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.MaHoCa">Details</a> |
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.MaHoCa">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>

<h1 style="text-align: center; color: orangered; margin:50px;">CÁC SẢN PHẨM HỒ CÁ </h1>
<div class="row">

    @foreach (var item in Model.HoCa)
    {
        <div class="col" style="margin-bottom:40px; ">
            <div class="card h-100" style="width: 20rem; border-radius: 20px;box-shadow: 2px 2px 15px gray;">
                <div class="card-header">
                    <div class="badge badge-center rounded-pill bg-primary">@Html.DisplayFor(modelItem => item.MaHoCa)</div>
                    <h2 class="card-title" style="text-align: center">@Html.DisplayFor(modelItem => item.HinhDang)</h2>
                </div>
                @if (item.MaHoCa == 1)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/Kohaku.jpg" />
                }
                else if (item.MaHoCa == 2)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/TaishoSanke.jpg" />
                }
                else if (item.MaHoCa == 3)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/ShowaSanshoku.jpg" />
                }
                else if (item.MaHoCa == 4)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/Asagi.jpg" />
                }
                else if (item.MaHoCa == 5)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/Shusui.jpg" />
                }
                else if (item.MaHoCa == 6)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/Ginrin_.jpg" />
                }
                <div class="card-body">
                    <div>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.KichThuoc)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ViTri)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.PhuongHuong)</p>
                        <p class="card-text" style="margin-bottom: 20px;">@Html.DisplayFor(modelItem => item.ThichHop)</p>
                    </div>
                    <div class="card-footer" style="text-align: center; background:none">
                        <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.MaHoCa">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

