@page
@model FSK.WebApp.Pages.Product.KoiFishProduct.IndexModel

<p>
    <a type ="button" class="btn btn-secondary" class="btn btn-xl btn-primary" asp-page="Create">Create New</a>
</p>
<div class="card" style="box-shadow: 0 .1875rem .5rem 0 rgba(34, 48, 62, .1); box-sizing: border-box;">
    <h5 class="card-header">Table Cá Koi</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.KoiFish[0].MaCaKoi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KoiFish[0].GiongCa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KoiFish[0].SoLuong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KoiFish[0].MoTa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KoiFish[0].ThichHop)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.KoiFish) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaCaKoi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiongCa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThichHop)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.MaCaKoi">Edit</a> |
                        <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.MaCaKoi">Details</a> |
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.MaCaKoi">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
<hr class="my-12" />

<h1 style="text-align: center; color: orangered; margin:50px;">CÁC SẢN PHẨM CÁ KOI </h1>
<div class="row">

@foreach (var item in Model.KoiFish)
{
    <div class="col" style="margin-bottom:40px; ">
            <div class="card h-100" style="width: 20rem; border-radius: 20px;box-shadow: 2px 2px 15px gray;">
                <div class="card-header">
                    <div class="badge badge-center rounded-pill bg-primary">@Html.DisplayFor(modelItem => item.MaCaKoi)</div>
                    <h2 class="card-title" style="text-align: center">@Html.DisplayFor(modelItem => item.GiongCa)</h2>
                </div>
                @if(item.MaCaKoi == 1)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/Kohaku.jpg" />
                }else if(item.MaCaKoi == 2){
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/TaishoSanke.jpg" />
                }
                else if (item.MaCaKoi == 3)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/ShowaSanshoku.jpg" />
                }
                else if (item.MaCaKoi == 4)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/Asagi.jpg" />
                }
                else if (item.MaCaKoi == 5)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/Shusui.jpg" />
                }
                else if (item.MaCaKoi == 6)
                {
                    <image style="display: flex; justify-content: center; height: 80%;align-items: center; object-fit: cover;" src="/KoiFish/Ginrin_.jpg" />
                }
            <div class="card-body">
                <div>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.MoTa)</p>
                    <p class="card-text" style="margin-bottom: 20px;">@Html.DisplayFor(modelItem => item.ThichHop)</p>
                </div>
                <div class="card-footer" style="text-align: center; background:none">
                     <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.MaCaKoi">Details</a>
                </div>
            </div>
        </div>
    </div>
}
</div>