@page
@model FengShuiKoi.WebApp.Pages.Account.KhachHangAccount.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.TenKhachHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.TenKhachHang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.SoDienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.SoDienThoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.NgayTao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.NgayTao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.TaoBoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.TaoBoi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.NgayChinhSua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.NgayChinhSua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.ChinhSuaBoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.ChinhSuaBoi)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="KhachHang.MaKhachHang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
