@page
@model FengShuiKoi.WebApp.Pages.Account.KhachHangAccount.DetailsModel

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.TenKhachHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.TenKhachHang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.SoDienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.SoDienThoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.NgayTao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.NgayTao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.TaoBoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.TaoBoi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.NgayChinhSua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.NgayChinhSua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.ChinhSuaBoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.ChinhSuaBoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.KhachHang.MaKhachHang">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
