@page
@model FSK.WebApp.Pages.Account.Member.DetailsModel

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.TenKhachHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.TenKhachHang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.NgayThangNamSinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.NgayThangNamSinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.Tuoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.Tuoi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.MatKhau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.MatKhau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.SoDienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.SoDienThoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.GioiTinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.NgayTao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.NgayTao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.NgayChinhSua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.NgayChinhSua)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.KhachHang.MaKhachHang">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
