@page
@model FSK.WebApp.Pages.Account.Member.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang[0].TenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang[0].NgayThangNamSinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang[0].Tuoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang[0].MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang[0].SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang[0].GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang[0].NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang[0].NgayChinhSua)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KhachHang) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThangNamSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayChinhSua)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MaKhachHang">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MaKhachHang">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MaKhachHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
