@page
@model FSK.WebApp.Pages.Account.Admin.DetailsModel

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien.HoTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.HoTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien.NgayThangNamSinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.NgayThangNamSinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien.Tuoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.Tuoi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.GioiTinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien.SoDienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.SoDienThoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien.MatKhau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.MatKhau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien.NgayThem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.NgayThem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien.NgayChinhSua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.NgayChinhSua)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NhanVien.MaNhanVien">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
